<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
           I am primarily devoted to the field of data science and machine learning. Data wrangling and manipulation
           followed by insights into the data is what motivates me the most. I am also deeply engaged in predictive 
           modelling using machine learning techniques and deep learning paradigms. I enjoy the challenge of
           solving alogrithmic problems with the application of the required data structures. 
        </p>
        <p>
           I love to workout, run, read, blog and teach.
           You can read my blog <a href="http://www.odesandcodes.wordpress.com"></a> here where I frequently type
           out my experiences and thoughts. I am a mentor for the Deep Learning course on Coursera and I teach
           intermediate python programming to my juniors in my college.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Summer '18 Internship at Helix Tech.
            I contributed to building a web application for an in-progress project during Practice School 1.
    			</li>
          <li>
            Summer '17 Internship at Drone Nation.
            I took geospatial images captured via drones and processed them to detect hotspots in solar panels.
          <li>
            Study Oriented Project on Data Wrangling and Predictive Modelling To Study DNA/RNA Protein Interaction.
            I xcreated dataset from raw xml files using numpy, python and the application of both domain-specific knowledge and data mining techniques.
            Also, predicted the likelihood of interaction using XGBoost and Random Forest.
    			<li>
            Informal Project on Malware Classification.
            I engineered features and used classification algorithms to predict whether an android app is a malware or not.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
