<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    I love to learn more. Some of the MOOCs I've taken are:
        </p>
			<ul>
			  <li>
				 <b>Applied Machine Learning In Python</b>. Helped me gain proficiency in Python, Pandas, Scikit-learn and brushed up my machine learning algorithms.
			  </li>
			  <li>
					<b>Improving Deep Neural Networks</b>. This second course in Andrew Ng's Deep Learning specialisation helped my learn real world skills of using 
					Hyperparameter tuning, Regularization and Optimization in large scale projects.
			  </li>
			  <li>
					<b>Coursera Mentor Community and Training Course</b>.I had to complete the course in order to officially become a mentor for Andrew Ng's introductory Deep Learning 
					course. It also gave me insights into how one should mentor learners and lay down answers and queries both in a well structured and informative manner.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Contests And Teaching</h3>
		  <ul>
  			<li>
						India Hacks, Machine Learning Competiton. I took part in this worldwide online Machine Learning competition conducted by Hacker Earth. 
						I  achieved a rank of 99 among over 10,000 participants that included industry professionals.
    		</li>
  			<li>
					TIP Machine Learning.
          I was responsible for mentoring a batch of 50 for strong foundation in Machine Learning. This was a surreal experience.
  			</li>
  		    </ul>
  		    <h3>Involvment In The Dev Community </h3>
  		    <ul>
  			<li>
           Co-ordinator of the Google Developers Group, Goa chapter. I helped organise several events in my college.
  			</li>
  			<li>
  			  Former secretary of the Department Of Computer Science, ASCII.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
